.background-image {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.background-image-object {
    position: absolute;
    bottom: 0;
    width: 100%;
}
