.page-container {
    width: 100%;
    height: 100vh;
    overflow: auto;
    transition: all 150ms;
}
.page-container-padded {
    padding: 1rem;
}
.page-container-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-container-hassidebar {
    margin-left: 240px;
    width: calc(100% - 240px);
}

// RESPONSIVE

@media screen and (max-width: 768px) {
    .page-container-hassidebar {
        margin-left: 52px;
        width: calc(100% - 52px);
    }
}
